<!-- events/templates/events/who_we_are.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Vision- ServiceConnect Hub</title>
</head>
<body>
    <h1>Our Vision</h1>
    <p>To be the leading catalyst for transformative event experiences globally, redefining the industry landscape through 
        our unparalleled platform. We envision a future where every event, regardless of scale or occasion, is a reflection of creativity, collaboration, and sustainability. Our vision is to inspire and connect a diverse community of event service providers and clients,
        setting new standards for excellence in event planning.</p>
</body>
</html>


 